
<style>
.title{
  position: absolute;

    top: 300px;
    color: #ffffff;

    width: auto;

    text-align: center;

  z-index:1;
}

</style>
<div class="row" align="center">
  <%= video_tag "index.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video-background" %>
</div>
<div class="">

</div>
<div class="title col-md-offset-3 col-md-6" style="text-align: center;" >
                <!-- <h1> -->
                    <!-- <strong> -->
                    <div style="padding:0 100px;text-align:center;">
                      <h1>云孵天下让你的创业之路更通畅</h1>
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:25px;font-weight:bold;">上海</span>
                    </div>



                        <!-- <span style="font-family:josefin sans;">
                            <span style="font-size:36px;text-align:center;">
                                云孵天下让你的创业之路更通畅
                            </span>
                        </span> -->
                    <!-- </strong> -->
                <!-- </h1> -->

    </div>
